@import 'antd/dist/antd.css';
@import './styles/global.scss';

body {
  margin: 0;
  font-family: "NotoSansJP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}